html {
  font-family: 'Poiret One', cursive;
}
.title {
  text-align: center;
  font-size: 330%;
  color: teal;
  margin: 0;
  margin-top: .5%; 
}

.board-size {
  text-align: center;
  font-size: 120%;
}
.board-size-input {
  font-size: 14px;
  text-align: center;
  /*border-left: 1px solid #9e9e9e !important;
  border-right: 1px solid #9e9e9e !important;*/
  border-top: 1px solid #9e9e9e !important;
  max-width: 35%;
}

.undo {
  margin-left: 10%;
}

.current-player {
  border: 3px solid teal;
}

.board {
  overflow: auto;
  white-space: nowrap;
  position: relative;
  /*left: 25%;*/
  top: 30px;
  margin: auto 0;
  text-align: center;
}

.row {
}
.box {
  margin: .5%;
  height: 150px;
  width: 150px;
  border: 3px solid black;
  display: inline-block;
  text-align: center;
  line-height: 9.5em;
  color: teal;
  /*border-color: teal;*/
  font-weight: bold;
  border-radius: 15px;

}